---
name: CI

on:
  push:
    branches:
      - main
  pull_request: {}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Generate docker metadata
        id: docker_meta
        uses: docker/metadata-action@v5
        with:
          images: dokku/ci-docker-image

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Install railpack
        run: |
          curl -sSL https://railpack.com/install.sh | sh

      - name: Build
        run: |
          make buildkit build
